<div class="prl-panel">
  <div class="prl-panel-title">
    <h3>Integration to eRecepits</h3>
  </div>
  <div class="prl-panel-content">
   

   <p>Please use this service to verify the posting of the JSON receipt to eReceipts</p>
 

  </div>
</div>
        