<div class="prl-panel">
  <div class="prl-panel-title">
    <h3>Integration Examples</h3>
  </div>
  <div class="prl-panel-content">
   
  <ul>
    <li><%= link_to "Post a receipt", home_post_receipt_path, :class=>"prl-button-primary"%></li>
    <!-- <li><%= link_to "Post a user", home_post_receipt_path, :class=>"prl-button-primary"%></li> -->
    <!-- <li><%#= link_to "Post a loyalty", home_post_receipt_path, :class=>"prl-button-primary"%></li> -->
    <!-- <li><%= link_to "Get receipts", home_post_receipt_path, :class=>"prl-button-primary"%></li> -->
    <!-- <li><%= link_to "Get loyalty", home_post_receipt_path, :class=>"prl-button-primary"%></li> -->

  </ul>

  </div>
</div>
        