<div class="prl-panel">
  <div class="prl-panel-title">
    <h3>Available Examples</h3>
  </div>
  <div class="prl-panel-content">

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @post_examples.each do |post_example| %>
      <tr>
        <td><%= post_example.name %></td>
        <td><%= link_to 'View', post_example %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


   

  

  </div>
</div>
        